* {
  margin: 16px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #04459b;
  }

h1 {
  font-size: 32px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  body {
    font-size: 18px;
}

header {

  color: #04459b;
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.fullname {
  font-size: 28px;
  font-weight: 600;
  color: #04459b;
  text-decoration: none;
}

.navigation a {
  font-size: 22px;
  color: #04459b;
  margin-left: 40px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s;
}

.navigation a:hover, 
.navigation_links a.active {
  color:blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.hero-area-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.hero-area-content {
  justify-content: left;
  margin: 18px 0 32px;
  max-width: 500px;
  margin-top: 196px;
  padding-top: 48px;
  margin-left: 0px;
  padding-left: 0px;

}
.hero-area-image {
 height: 400px;
 margin: 100px;
 border-radius: 100px;
}


.hero-area-content h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}

.hero-area-content h2 {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
}

.hero-area-content h3 {
  font-size: 22px;
  font-weight: 500;
}

.hero-area-content p {
  margin: 18px 0px 32px;
  font-weight: 400;
  font-size: 18px;
}

.about-me {
margin-top: 48px;
margin-bottom: 48px;
}

main {
  margin: 140px;
}

main h1 {
  margin-bottom: 50px;
}



.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.flex-item {
  color: #FFFFFF;
  font-size: 18px;
  padding: 1rem;
  text-align: center;
  width: 300px;
  height: 280px;
  border: 4px solid  #04459b;
  border-radius: 4px;
}


