* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFFFFF;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.fullname {
  font-size: 28px;
  color:rgb(1, 42, 112);
  font-weight: 600;
  text-decoration: none;
}

.navigation a {
  font-size: 24px;
  color:rgb(1, 42, 112);
  margin-left: 40px;
  font-weight:500;
  text-decoration: none;
  text-decoration-color: rgb(1, 42, 112);
}


